{% extends 'base.html.twig' %}

{% block title %}Activites index{% endblock %}

{% block body %}
    <h1>Activites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in Activites %}
            <tr>
                <td>{{ activite.id }}</td>
                <td>{{ activite.titre }}</td>
                <td>{{ activite.description }}</td>
                <td>
                    <a href="{{ path('app_Activites_show', {'id': activite.id}) }}">show</a>
                    <a href="{{ path('app_Activites_edit', {'id': activite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_Activites_new') }}">Create new</a>
{% endblock %}
